video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.intro-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  justify-content: center;
}
.intro-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
  text-align: center;
}

.intro-container > p {
  color: #fff;
  margin-top: 8px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 24px;
  text-align: center;
}

.download-container {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin-top: 15px;
  font-size: 1.5em;
}

.download-link {
  color: #fff;
}
.skill-intro{
  font-size: 22px;
  color: #fff;
  width: 65vw
}

@media screen and (max-width: 960px) {
  .intro-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
  .intro-container > p {
    font-size: 20px;
  }
  .skill-intro {
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .intro-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .intro-container p {
    font-size: 15px;
  }
  .into-para p{
    font-size: 15px;
  }
  .skill-intro  {
    font-size: 13px;
  }

}

/*Social icons*/
.social-icon-link {
  color: #fff;
  font-size: 30px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 150px;
  padding-top: 10px;
}
